// Color Variables
$primary-color: hsla(0, 0, 20, 100);
$secondary-color: hsla(0, 0, 90, 100);
$accent-color: hsla(0, 62, 75, 100);
$tertiary-color: hsla(0, 0, 100, 100);

//Font Variables
$font-type: "Montserrat", sans-serif;
$font-weights: (
    "light": 200,
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);

//Breakpoints
$mobile-width: 600px;
$tablet-width: 914px;