@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.backButton {
    padding: 10px;
    border: 0px;
    border-radius: 50%;
    background-color: hsla(0, 0, 90, 100);
    margin: 30px 0;

    &:hover {
        background-color: hsla(0, 0, 70, 100);
    }
}

.postDetails {
    width: 40vw;
    margin: 0 auto;
}

.card {
    border-radius: 25px;
    text-align: center;
    padding: 0px 0px 5px 0px;
    margin-bottom: 25px;
    width: 100%;
    transition: box-shadow .3s;
    background-color: $secondary-color;
    position: relative;

    .modifyPostButtons {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0.9;

        .editButton {
            padding: 10px;
            border-radius: 50%;
            background-color: $secondary-color;
            margin-right: 10px;
        }

        .deleteButton {
            padding: 10px;
            border-radius: 50%;
            background-color: $secondary-color;
        }
    }

    .image {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 25px 25px 0 0;
    }

    .content {
        padding: 0 25px;

        .heading {
            font-size: 1.4rem;
            margin-bottom: 15px;
            font-style: set-weight(bold);
        }

        .locationAndDate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: set-weight(medium);
            margin-top: 25px;
            margin-bottom: 10px;
            color: $primary-color;

            .location {
                display: flex;
                align-items: center;

                .locationIcon {
                    margin-right: 5px;
                }

                .locationLink {

                    cursor: pointer;
                    color: black;
    
                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 0.3rem;
                    }
    
                    .locationText {
                        font-weight: set-weight(medium);
                    }
                }

            }

            .date {
                text-align: right;
                font-weight: set-weight(medium);
                color: $primary-color;
            }
        }

    }
}

.commentSection {
    border-top: 2px solid $secondary-color;
    padding-top: 15px;
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    .postDetails {
        width: 80vw;
        margin-top: 60vh;
    }
}

@media screen and (max-width: $mobile-width){
    .postDetails {
        width: 80vw;
        margin-top: 50vh;
    }
}