@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.coverImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/assets/cover-image.jpg");

    .signupPage {
        position: relative;
        padding-bottom: 5px;
        border-radius: 25px;
        width: 40vw;
        background-color: $secondary-color;

        .logo {
            display: block;
            margin: -15px auto 15px auto;
            width: 35%;
        }
        
        .heading {
            position: relative;
            bottom: 55px;
            text-align: center;
            color: $primary-color;
            font-size: 1.7rem;
            margin-bottom: 20px;
        }

        .signupForm {
            width: 80%;
            margin: -60px auto 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            justify-items: center;
            align-items: center;
            gap: 10px;

            .commonErrorMessage {
                color: $accent-color;
                font-size: 0.9rem;
                margin-bottom: 10px;
            }

            .inputContainer {
                @include flexbox(flex, column);
                margin: 15px 0;
                width: 48%;
                height: 65px;

                .inputLabel {
                    font-size: 0.95rem;
                    font-weight: set-weight(medium);
                    margin-bottom: 5px;
                }
                
                .input {
                    padding: 9px 7px;
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                    background-color: $secondary-color;
                }

                .errorMessage {
                    color: $accent-color;
                    font-size: 0.9rem;
                    margin-top: 5px;
                    margin-left: 5px;
                }
            }

            .signupButton {
                @extend .button-primary;
                width: 50%;
                margin: 20px auto 0 auto;
                border-radius: 25px;
                position: relative;
                left: 7px;
            }
            
            .signupDivision {
                position: relative;
                top: 15px;
            }
        }

        .secondarySignup {
            @include flexbox(flex, $justifyContent: center);

            .secondarySignupButton {
                @extend .button-primary;
                padding: 10px;
                margin: 30px auto 0 auto;
                background-color: $secondary-color;
                width: 40%;
                border-radius: 25px;
            
                &:hover {
                    background-color: $accent-color;
                    transition: background-color 500ms;
                }
            }
        }

        .login {
            width: fit-content;
            margin: 15px auto;

            .loginText {
                margin-right: 10px;
            }
            
            .loginButton {
                font-size: 1rem;
                color: $accent-color;
                font-weight: set-weight(medium);
            }
        }
    }
}