@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.communityListWithHeading {
  margin-left: 30vw;
  width: 60vw;
}

.heading {
  color: $primary-color;
  margin: 30px 0;
}

.communityListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .communityList {
    list-style-type: none;
    width: 100%;
  
    .communityItem {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 25px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
      padding: 15px;
      transition: box-shadow 0.3s ease;
    }
  }
  