@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.parentContainer {

  width: 65vw;
  margin-left: 30vw;

  .communityListWithHeading {
    width: 100%;
  
    .titleContainer {
      @include flexbox(flex, $justifyContent: space-between, $alignItems: center);
  
      .heading {
        color: $primary-color;
        margin: 30px 0;
      }
  
      .createButton {
        @extend .button-primary;
        color: $primary-color;
        font-weight: set-weight(medium);
        border-radius: 25px;
      }
    }
  
    .communityListContainer {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .noCommunities {
        text-align: center;
        margin-top: 70px;
        font-size: 1.5rem;
        font-weight: set-weight(medium);
      }
  
      .communityList {
        list-style-type: none;
        width: 100%;
      
        .communityItem {
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 25px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          margin-bottom: 25px;
          padding: 25px;
          transition: box-shadow 0.3s ease;
        }
      }
    }
  }
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
  .parentContainer {
    width: 80vw;
    margin: 62vh auto 0 auto;

    .communityListWithHeading {
      margin: 0 auto;
      width: 100%;

      .titleContainer {
        .heading {
          font-size: 1.5rem;
        }
  
        .createButton {
          text-align: center;
          padding: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-width){
  .parentContainer {
    width: 80vw;
    margin: 51vh auto 0 auto;

    .communityListWithHeading {
      margin: 0 auto;
      width: 100%;

      .titleContainer {
        .heading {
          font-size: 1.3rem;
        }
  
        .createButton {
          text-align: center;
          padding: 12px;
        }
      }
    }
  }
}
  