.communityListContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  // @media (max-width: 600px) {
  //   .communityGrid {
  //     grid-template-columns: 1fr;
  //   }
  // }
  