@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.communityItem {
    display: flex;
    align-items: center;
    padding: 10px;
  
    .communityImage {
      margin-right: 20px; // Adds some space between the image and the details
  
      img {
        display: block;
        width: 80px; // Set this to the desired image width
        height: 80px; // Set this to the desired image height
        object-fit: cover; // Ensures the image covers the area, useful for non-square images
        border-radius: 40px; // Makes the image round
      }
    }
  
    .communityDetails {
      flex-grow: 1;
  
      .communityName {
        margin-bottom: 5px;
        color: #333;
        font-size: 1.3rem;
      }
  
      .communityDescription {
        margin-bottom: 20px;
        color: #666;
        font-size: 1rem;
      }
  
      .communityMembers {
        font-size: 0.9rem;
        color: #666;
      }
    }

    .joinButton {
      @extend .button-primary;
      background: none;
      border-radius: 25px;
      padding: 10px 25px;
      font-weight: set-weight(medium);

      &:hover {
        background-color: $accent-color;
      }
    }

    .viewCommunityButton {
      @extend .button-primary;
      background: none;
      border-radius: 25px;
      padding: 10px 25px;
      margin-left: 15px;
      font-weight: set-weight(medium);

      &:hover {
        background-color: $accent-color;
      }
    }
  }
  