@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.communityItem {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
  
    .communityImage {
      margin-right: 20px;
  
      img {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 40px;
      }
    }
  
    .communityDetails {
      flex-grow: 1;
  
      .communityName {
        margin-bottom: 5px;
        color: #333;
        font-size: 1.3rem;
      }
  
      .communityDescription {
        margin-bottom: 20px;
        color: #666;
        max-width: 550px;
        text-align: justify;
      }
  
      .communityMembers {
        font-size: 0.9rem;
        color: #666;
      }
    }

    .joinButton {
      @extend .button-primary;
      background: none;
      border-radius: 25px;
      padding: 10px 25px;
      font-weight: set-weight(medium);

      &:hover {
        background-color: $accent-color;
      }
    }

    .viewCommunityButton {
      @extend .button-primary;
      background: none;
      border-radius: 25px;
      padding: 10px 25px;
      margin-left: 15px;
      font-weight: set-weight(medium);

      &:hover {
        background-color: $accent-color;
      }
    }
}

@media screen and (max-width: $tablet-width) {
  .communityItem {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}


  
