@import "../../scss/base/variables";
@import "../../scss/functions";

.cardLink {
    text-decoration: none;
    color: inherit;

    .card {
        border-radius: 25px;
        text-align: center;
        padding: 0px 0px 5px 0px;
        margin-bottom: 40px;
        width: 100%;
        transition: box-shadow .3s;
        background-color: $secondary-color;
        cursor: pointer;
    
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        }
    
        .image {
            width: 100%;
            max-height: 350px;
            margin-bottom: 20px;
            border-radius: 25px 25px 0 0;
        }
    
        .content {
            padding: 0 25px;
    
            .heading {
                font-size: 1.4rem;
                margin-bottom: 15px;
                font-style: set-weight(bold);
            }
    
            .locationAndDate {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                font-weight: set-weight(medium);
                margin-top: 25px;
                margin-bottom: 15px;
                color: $primary-color;
    
                .location {
                    display: flex;
                    align-items: center;
    
                    .locationIcon {
                        margin-right: 5px;
                    }
    
                    .locationLink {
                        cursor: pointer;
                        font-size: 0.9rem;
    
                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: 0.3rem;
                        }
    
                        .locationText {
                            font-size: 0.9rem;
                            font-weight: set-weight(medium);
                            text-align: left;
                        }
                    }
                }
    
                .date {
                    font-size: 0.9rem;
                    text-align: right;
                    font-weight: set-weight(medium);
                    color: $primary-color;
                }
            }
    
        }
    }
}