@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.userProfileContainer {
    width: 100vw;
    height: 100vh;
    @include flexbox(flex, $justifyContent: center, $alignItems: center);

    .userProfile {
        padding: 30px 80px;
        border-radius: 40px;
        width: 45vw;
        margin-left: 150px;
        background-color: $secondary-color;

        .heading {
            text-align: center;
            color: $primary-color;
        }

        .profilePic {
            border-radius: 50%;
            border: none;
            width: 150px;
            height: 150px;
            display: block;
            margin : 30px auto;
        }

        .userInfo {
            margin: 15px 0;
            font-size: 1.1rem;
            color: $primary-color;
        }

        .editButton {
            @extend .button-primary;
            display: block;
            margin: 30px auto 0 auto;
            border-radius: 25px;
        }
    }
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    .userProfileContainer {
        .userProfile {
            margin-top: 80vh;
            width: 80vw;
            margin-left: 0px;
        }
    }
}

@media screen and (max-width: $mobile-width){
    .userProfileContainer {
        .userProfile {
            margin-top: 60vh;
            width: 85vw;
            padding: 30px 30px;
            margin-left: 0px;

            .email {
                word-break: break-all;
            }
        }
    }
}