@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 25vw;
    background-color: $secondary-color;
}

.logo {
    display: block;
    width: 60%;
    margin: auto;
}

.navLinks {
    width: fit-content;
    margin: 0 auto;
}

.navLink {
    @include flexbox(flex, $alignItems: center);
    color: black;
    margin: 25px 0;
    cursor: pointer;
    width: fit-content;
    padding: 15px;
}

.navLink:hover {
    border-radius: 50px;
    background-color: $tertiary-color;
}

.navText {
    font-weight: set-weight(medium);
    font-size: 1.4rem;
}

.navIcon {
    margin-right: 15px;
    width: 40px;
}

.logout {
    position: absolute;
    bottom: 0px;
}

