@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.form {
    padding: 30px 60px;
    border-radius: 40px;
    width: 35vw;
    background-color: $secondary-color;

    .heading {
        text-align: center;
        color: $primary-color;
        font-size: 2rem;
    }

    .inputContainer {
        @include flexbox(flex, column);
        margin: 20px 0;
        width: 100%;

        .inputLabel {
            font-weight: set-weight(medium);
            margin-bottom: 5px;
        }
        
        .input {
            padding: 10px 6px;
            border: none;
            border-radius: 5px;
        
            &::placeholder {
                color: $primary-color;
            }
        }
        
        .errorMessage {
            font-size: 0.9rem;
            color: $accent-color;
            margin-top: 5px;
        }
        
        .fileUploadButton {
            @extend .button-primary;
            font-size: 0.9rem;
            background-color: #fff;
            padding: 10px 20px;
            width: 100%;
            border-radius: 5px;
            border: none;
        }
    }
    
    .imagePreview {
        width: 100%;
        margin-top: 10px;
        border-radius: 25px;
    }

    .createButton {
        @extend .button-primary;
        margin-top: 10px;
        font-weight: set-weight(medium);
        width: 100%;
        border-radius: 25px;
    }
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    .form {
        width: 80vw;
        margin-top: 0vh;
    }
}

@media screen and (max-width: $mobile-width){
    .form {
        width: 80vw;
        margin-top: 0vh;
    }
}