@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.commentItemContainer {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;

  .userImageContainer {
    margin-right: 12px;
  
    .userImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .commentTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    .commentContent {
      display: flex;
      align-items: center;

      .userName {
        font-weight: bold;
        margin-bottom: 5px;
      }

      .commentText {
        border-radius: 8px;
        background-color: $secondary-color;
        padding: 10px;
        word-break: break-all;
      }

      .optionsIndicator {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 18px;
        margin-left: 8px;
      
        button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 16px; 
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          border-radius: 50%;
      
          &:hover {
            background-color: #ddd;
          }
        }
      }

      .optionsDropdown {
        border: 1px solid #ffffff;
        background-color: #fff9f9;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: baseline;
        width: 78px;
      }
    }

    .commentImageDisplay {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

.editButton,
.deleteButton {
  border: none;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
  padding: 8px;
  // width: 100%;
  text-align: left;
}

.editButton:hover,
.deleteButton:hover {
  background-color: #fbfbfb;
}

.saveEditedComment,
.editCommentItem
{
margin-right: 9px;
margin-left: 9px;
margin-bottom: 9px
}