@import "../../scss/base/variables";
@import "../../scss/mixins";
@import "../../scss/base/globals";
@import "../../scss/functions";

.postFeed {
    width: 35vw;
    margin: 50px auto 0 auto;
    max-width: 520px;

    .search {
        display: flex;
        justify-content: end;
        margin-bottom: 15px;
    }

    .noPosts {
        text-align: center;
        margin-top: 70px;
        font-size: 1.5rem;
        font-weight: set-weight(medium);
    }
}

@media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    .postFeed {
        width: 80vw;
        margin-top: 66vh;
    }
}

@media screen and (max-width: $mobile-width){
    .postFeed {
        width: 80vw;
        margin-top: 54vh;
    }
}

